<h2 class="navbar-lewagon">All our Cocktails</h2>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail|%>
      <%= render "card", cocktail: cocktail %>
    <% end %>
  </div>
</div>
<div class="redirect"><%= link_to "Add new Cocktail", new_cocktail_path %></div>
